<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <form novalidate #f="ngForm" (ngSubmit)="submit(f)">
          <div class="form-body">
            <h3 class="card-title">Profile</h3>
            <hr>
            <div *ngIf="hasRoommate" class="alert alert-danger" role="alert">
              You can't create a new roommate because you have one.
            </div>
            <div class="row p-t-20">

                <div class="col-md-12">
                    <div class="form-group" [ngClass]="{'has-danger': inPlace.touched && !inPlace.valid,'has-success': inPlace.valid}">
                      <label class="control-label">Place</label>
                      <input #inPlace='ngModel' [(ngModel)]="profile.address" name="place" type="text" id="place" class="form-control form-control-danger"
                        placeholder="Where do you want to live?" required>
                      <small *ngIf="inPlace.touched && !inPlace.valid" class="form-control-feedback"> This field has error. </small>
                    </div>
                  </div>

              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-danger': inNick.touched && !inNick.valid,'has-success': inNick.valid}">
                  <label class="control-label">Nickname </label>
                  <input #inNick='ngModel' [(ngModel)]="profile.nickname" name="nickname" type="text" id="place" class="form-control form-control-danger"
                    placeholder="Nickname or username" required>
                  <small *ngIf="inNick.touched && !inNick.valid" class="form-control-feedback"> This field has error. </small>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-danger': inRent.touched && !inRent.valid,'has-success': inRent.valid}">
                  <label class="control-label">Max rent per month($)</label>
                  <input #inRent="ngModel" [(ngModel)]="profile.maxRentMonth" name="rent" type="text" id="rent" class="form-control form-control-danger"
                    placeholder="100" required>
                  <small *ngIf="inRent.touched && !inRent.valid" class="form-control-feedback"> This field has error. </small>
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-success': this.profile.gender}">
                  <label class="control-label">Gender</label>
                  <select [(ngModel)]="profile.gender" name="gender" class="form-control custom-select" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                  </select>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-success': this.profile.movingDate}">
                  <label class="control-label">Moving date</label>
                  <input [(ngModel)]="profile.movingDate" name="date" type="date" class="form-control" placeholder="dd/mm/yyyy">
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-danger': inAge.touched && !inAge.valid,'has-success': inAge.valid}">
                  <label class="control-label">Age</label>
                  <input #inAge='ngModel' [(ngModel)]="profile.age" name="age" type="text" id="age" class="form-control" value="18" required>
                  <small *ngIf="inAge.touched && !inAge.valid" class="form-control-feedback"> This is inline help </small>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-success': this.profile.ocupationId}">
                  <label class="control-label">Ocupation</label>
                  <select [(ngModel)]="profile.ocupationId" name="ocupation" class="form-control custom-select" data-placeholder="Choose a Ocupation"
                    tabindex="1" required>
                    <option *ngFor="let ocupation of ocupations" [value]="ocupation.id">{{ocupation.name}}</option>
                  </select>
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Comment</label>
                  <textarea #inComent='ngModel' [(ngModel)]="profile.comentarios" name="coment" type="textarea" rows="4" class="form-control">
                  </textarea>
                </div>
              </div>
              <!--/span-->
            </div>
          </div>
          <div class="form-actions">
            <button [disabled]="!f.valid && hasRoommate" type="submit" class="btn btn-success">
              <i class="fa fa-check"></i> Save</button>
            <button type="button" class="btn btn-inverse">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
