<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">

        <pre>{{this.room | json}}</pre>

        <form #f='ngForm' (ngSubmit)="finishFunction(f)">
          <aw-wizard>
            <aw-wizard-step stepTitle="About the property">
              <br>
              <h4>Property Description</h4>
              <hr>
              <section>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-success': this.room.propertyType}">
                      <label for="type"> Property Type :
                        <span class="danger">*</span>
                      </label>
                      <select [(ngModel)]="room.propertyType" class="custom-select form-control required" id="type" name="type">
                        <option *ngFor="let type of propertTypes" [value]="type.id">{{type.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-success': this.room.roomsToRent}">
                      <label for="available"> Room Available :
                        <span class="danger">*</span>
                      </label>
                      <select [(ngModel)]="room.roomsToRent" class="custom-select form-control required" id="available" name="available">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6+</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-success': this.room.numberBedrooms}">
                      <label for="betrooms"> Number of bedrooms :
                        <span class="danger">*</span>
                      </label>
                      <select [(ngModel)]="room.numberBedrooms" class="custom-select form-control required" id="betrooms" name="betrooms">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6+</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-success': this.room.numberBathrooms}">
                      <label for="bathrooms"> Number of bathrooms :
                        <span class="danger">*</span>
                      </label>
                      <select [(ngModel)]="room.numberBathrooms" class="custom-select form-control required" id="bathrooms" name="bathrooms">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6+</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Rules :</label>
                      <ul style="list-style: none">
                        <li *ngFor="let rule of rules">
                          <label class="custom-control custom-checkbox block">
                            <input (change)="onRuleChange(rule.id, $event)" type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description ml-0">{{rule.name}}</span>
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Features :</label>
                      <div class="c-inputs-stacked">
                        <label *ngFor="let prop of propertyF" class="inline custom-control custom-checkbox block">
                          <input (change)="onFeatureChange(prop.id, $event)" type="checkbox" class="custom-control-input">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description ml-0">{{prop.name}}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- [disabled]="IsvalidS1()" -->
              <button type="button" class="btn btn-success" awNextStep>
                <i class="fa fa-arrow-circle-right"></i> Next Step
              </button>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="About the room" awOptionalStep>
              <br>
              <h4>Space Details</h4>
              <hr>
              <section>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-danger': rent.touched && !rent.valid,'has-success': rent.valid}">
                      <label for="rent">Rent per month :
                        <span class="danger">*</span>
                      </label>
                      <input #rent='ngModel' [(ngModel)]="this.room.rentPerMonth" name="rent" type="number" class="form-control required" id="rent"
                        required>
                      <small *ngIf="rent.touched && !rent.valid" class="form-control-feedback"> This is inline help </small>
                    </div>

                  </div>
                  <div class="col-md-6 align-self-end">
                    <div class="form-group">
                      <div class="c-inputs-stacked">
                        <label class="inline custom-control custom-checkbox block">
                          <input type="checkbox" class="custom-control-input" (change)="utility($event)" [checked]='room.isUtilityIncluded'>
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description ml-0">Add utility costs to be paid on top of rent</span>
                        </label>
                      </div>
                      <input [(ngModel)]="room.utilityPerMonth" name="utility" *ngIf="room.isUtilityIncluded" type="number" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-success': room.roomType}">
                      <label for="roomType"> Room Type :
                        <span class="danger">*</span>
                      </label>
                      <select [(ngModel)]="room.roomType" class="custom-select form-control required" id="roomType" name="roomType" required>
                        <option value="1">Single Room</option>
                        <option value="2">Double Room</option>
                        <option value="3">Shared Room</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-danger': room.roomSquareMeters < 0}">
                      <label for="square">Room square meters :</label>
                      <input [(ngModel)]="room.roomSquareMeters" name="square" type="number" class="form-control" id="square">
                      <small *ngIf="room.roomSquareMeters < 0" class="form-control-feedback"> Square must be greater than zero</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="furnished"> Furnished or Unfurnished :
                      </label>
                      <select [(ngModel)]="room.isFurnished" class="custom-select form-control required" id="furnished" name="furnished">
                        <option value="false">Unfurnished</option>
                        <option value="true">Furnished</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 align-self-end">
                    <div class="form-group">
                      <div class="c-inputs-stacked">
                        <label class="inline custom-control custom-checkbox block">
                          <input [(ngModel)]="room.ensuiteBathroom" name="ensuite" type="checkbox" class="custom-control-input" [checked]='room.ensuiteBathroom'>
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description ml-0">Ensuite bathroom</span>
                        </label>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-success': room.availableFrom}">
                      <label for="from">Available from :</label>
                      <input [(ngModel)]="room.availableFrom" name="from" type="date" class="form-control" placeholder="dd/mm/yyyy">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="stay"> Minimum stay in months :
                      </label>
                      <select [(ngModel)]="room.minStayMonths" class="custom-select form-control" id="stay" name="stay">
                        <option value="0">No minimum stay in months</option>
                        <option value="3">3</option>
                        <option value="6">6</option>
                        <option value="9">9</option>
                        <option value="12">12</option>
                        <option value="15">12+</option>
                      </select>
                    </div>
                  </div>
                </div>`
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Features :</label>
                      <div class="c-inputs-stacked">
                        <label *ngFor="let ro of roomF" class="inline custom-control custom-checkbox block">
                          <input (change)="onRoomChange(ro.id, $event)" type="checkbox" class="custom-control-input">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description ml-0">{{ro.name}}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- [disabled]="IsvalidS1()" -->
              <button type="button" class="btn btn-success" awPreviousStep>
                <i class="fa fa-arrow-circle-left"></i> Previous Step
              </button>
              <button type="button" class="btn btn-success" awNextStep>
                <i class="fa fa-arrow-circle-right"></i> Next Step
              </button>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="About the roommate" awOptionalStep>
              <br>
              <h4>Household Description</h4>
              <hr>
              <section>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="preferred"> Preferred gender :
                      </label>
                      <select [(ngModel)]="room.prefGender" class="custom-select form-control" id="preferred" name="preferred">
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Doesn't matter</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="current"> Number of roommates already living there :
                      </label>
                      <select [(ngModel)]="room.numberRoomatesAlready" class="custom-select form-control" id="current" name="current">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6+</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="prefOcup"> Preferred occupation :
                      </label>
                      <select [(ngModel)]="room.ocupationId" class="custom-select form-control" id="prefOcup" name="prefOcup">
                        <option *ngFor="let ocup of ocupations" [value]="ocup.id">{{ocup.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="prefAge"> Preferred age :
                      </label>
                      <select [(ngModel)]="room.prefMinAge" class="custom-select form-control" id="prefAge" name="prefAge">
                        <option value="1">Range from</option>
                        <option value="2">20</option>
                        <option value="3">21</option>
                      </select>
                      <hr>
                      <select [(ngModel)]="room.prefMaxAge" class="custom-select form-control" id="prefOcup" name="prefOcup">
                        <option value="1">Range to</option>
                        <option value="2">31</option>
                        <option value="3">32</option>
                      </select>
                    </div>
                  </div>
                </div>
              </section>
              <button type="button" class="btn btn-success" awPreviousStep>
                <i class="fa fa-arrow-circle-left"></i> Previous Step
              </button>
              <button type="button" class="btn btn-success" awNextStep>
                <i class="fa fa-arrow-circle-right"></i> Next Step
              </button>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="About you">
              <br>
              <h4>Your Description</h4>
              <hr>
              <section>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="firstName1">First Name :</label>
                      <input type="text" class="form-control" id="firstName1"> </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="lastName1">Last Name :</label>
                      <input type="text" class="form-control" id="lastName1"> </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="emailAddress1">Email Address :</label>
                      <input type="email" class="form-control" id="emailAddress1"> </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="phoneNumber1">Phone Number :</label>
                      <input type="tel" class="form-control" id="phoneNumber1"> </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="location1">Select City :</label>
                      <select class="custom-select form-control" id="location1" name="location">
                        <option value="">Select City</option>
                        <option value="Amsterdam">India</option>
                        <option value="Berlin">USA</option>
                        <option value="Frankfurt">Dubai</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="date1">Date of Birth :</label>
                      <input name="date1" type="date" class="form-control" placeholder="dd/mm/yyyy"> </div>
                  </div>
                </div>
              </section>
              <button type="button" class="btn btn-success" awPreviousStep>
                <i class="fa fa-arrow-circle-left"></i> Previous Step
              </button>
              <button type="submit" class="btn btn-success" (click)="finishFunction()">
                <i class="fa fa-check"></i> Finish
              </button>
            </aw-wizard-step>
          </aw-wizard>
        </form>
      </div>
    </div>
  </div>
</div>
